body,html{
	height: 100%;
	width: 100%;
	background-image: url('senti1.png');
	background-size: cover;
	position: relative;
	transition: background-color .5s ease;
}

@font-face{
	font-family: intro;
	src:url(KBPlanetEarth.ttf);
}
h1{
	font-size:5vw;
	padding-top: 3vw;
	margin-top: 0px;
	color:white;
	text-align: center;
	font-family: intro;
}
h6{
	font-size: 2vw;
	font-weight: bold;
	color: white;
	text-align: left;
	padding-left: 3%;
	font-family: "Times New Roman", Times, serif;
}
h5{
	color: white;
	font-size: 1.5vw;
	font-family: "Times New Roman", Times, serif;
	padding-left: 7%;
}
.image{
	float: right;
	border: solid;
	width: auto;
	border-color:grey;
	margin-right: 5%;
	border-width: 1vw; 
}
.parsed{
	text-overflow:ellipsis;
	color: white;
}

.tweet{
	background-image: url('senti1.png');
	background-size: contain;
	position: relative;
	padding: 2vw;
}