<!DOCTYPE html>
<html lang="en">

<head>
	<title>Result|Twitter Personality Assessment</title>
	{% load staticfiles %}
	<link rel="shortcut icon" href="{% static 'sentiment/css/fav.png' %}" sizes="16x16"></link>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="author" content="Bharat Sahni|Swati Chauhan" />
  	<meta name="description" content="SentimentAnalysis website" />
  	<meta name="keywords" content="Sentiment, SentimentAnalysis, minor project" />
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personality/css/bootstrap.min.css' %}" type = "text/css"/>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'personality/css/perview.css' %}">
	
</head>
<body>
	<center><h1>User Profile Does Not Exist<br> or<br> Connection Timed-out</h1></center>
<center><a href="http://127.0.0.1:8000/" style="font-size: 1.5vw;color: white;">Click to go back</a></center>
<center>
     <div id="chart_div"></div></center>
     {% load staticfiles %}
     <div id="thanks"><img src="{% static 'sentiment/css/thnku.png' %}" class="img-responsive" style="width: 35%"></div>
</div>
</body>
</html>